@import "tailwindcss";
@font-face {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    src:
        local("Monument Extended"),
        url("/font/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 800;
    src:
        local("Monument Extended"),
        url("/font/MonumentExtended-Ultrabold.otf") format("opentype");
}
@font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    src:
        local("Monument Extended"),
        url("/font/SFPRODISPLAYREGULAR.OTF") format("opentype");
}
@font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 700;
    src:
        local("Monument Extended"),
        url("/font/SFPRODISPLAYBOLD.OTF") format("opentype");
}

@theme {
    --font-sfpro: "SF Pro", "sans-serif";
    --font-monument: "Monument Extended", "sans-serif";
    --color-black: #000000;
    --color-black2: #00000040;
    --color-black3: #1a1a1a;
    --color-black4: #171717;
    --color-black-light: #0c0c0c;
    --color-primary: #c4fe01;
    --color-secondary: #0038ff;
    --color-white: #ffffff;
    --color-grey-dark: #282828;
    --color-grey-light: #939393;
    --color-transparent: transparent;
    --color-red: #ff0000;
    --breakpoint-xxs: 20rem;
    --breakpoint-xxs: 375px;
    --breakpoint-xs: 425px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-xl3: 1280px;
    --breakpoint-2xl: 1536px;

    --animate-opacityIn: opacityTransitionIn 3s ease-in 1;

    @keyframes opacityTransitionIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.75;
        }
        100% {
            opacity: 1;
        }
    }
    --animate-opacityOut: opacityTransitionOut 1s ease-out 1;

    @keyframes opacityTransitionOut {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.75;
        }
        75% {
            opacity: 0.5;
        }
        100% {
            opacity: 0;
        }
    }
}
:root {
    @apply font-normal text-xl leading-normal  text-white font-monument;
    color-scheme: light dark;
    color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: hard-light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn-base {
    @apply min-w-[7rem]  min-h-[4rem] lg:min-w-[8rem] lg:min-h-[4rem] xl:min-h-[5rem] xl:min-w-[11rem] p-5 cursor-pointer;
}
.small-text {
    @apply text-[.75rem] sm:text-[.8rem];
}

/* / */

.collapse:not(td):not(tr):not(colgroup) {
    visibility: visible;
}
.collapse {
    position: relative;
    display: grid;
    overflow: hidden;
    grid-template-rows: max-content 0fr;
    transition: grid-template-rows 0.2s;
    width: 100%;
    border-radius: var(--rounded-box, 1rem);
}
.collapse-title,
.collapse-content {
    grid-column-start: 1;
    grid-row-start: 1;
}

.collapse-content {
    visibility: hidden;
    grid-column-start: 1;
    grid-row-start: 2;
    min-height: 0px;
    transition: visibility 0.2s;
    transition:
        padding 0.2s ease-out,
        background-color 0.2s ease-out;

    cursor: unset;
}
.collapse[open],
.collapse-open,
.collapse:focus:not(.collapse-close) {
    grid-template-rows: max-content 1fr;
}

.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content {
    visibility: visible;
    min-height: fit-content;
}
.collapse-plus > .collapse-title:after {
    position: absolute;
    display: block;
    height: 0.5rem;
    width: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 300ms;
    top: 0.9rem;
    inset-inline-end: 1.4rem;
    content: "+";
    pointer-events: none;
}

.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="checkbox"]:checked ~ .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-title:after {
    content: "−";
}
.gallery-img {
    @apply w-full h-full object-cover block;
}
@media (min-width: 1080px) {
    .membership-level-container {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.1fr 0.4fr 0.5fr;
        gap: 0.5rem 0.5rem;
        grid-template-areas:
            "m1 m2 m3"
            "m4 m4 m4"
            "m5 m6 m6";
    }
    .m1 {
        grid-area: m1;
    }
    .m2 {
        grid-area: m2;
    }
    .m3 {
        grid-area: m3;
    }
    .m5 {
        grid-area: m5;
    }
    .m6 {
        grid-area: m6;
    }
    .m4 {
        grid-area: m4;
    }
    .cx {
        display: none;
    }
}
@media (max-width: 1079px) {
    .membership-level-container {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
        gap: 1em 1em;
        grid-template-areas:
            "."
            "."
            "."
            "."
            "."
            ".";
    }
}

.menu-toggle {
    display: none;
}

/* Default state: hide mobile menu */
.mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
}

/* When checkbox is checked, show mobile menu */
#menu-toggle:checked ~ .mobile-menu {
    display: block;
}

/* By default, show the hamburger icon and hide the cross icon */
.cross-icon {
    display: none;
}

/* When checked, swap icons */
#menu-toggle:checked + .mobile-toggle .hamburger-icon {
    display: none;
}
#menu-toggle:checked + .mobile-toggle .cross-icon {
    display: block;
}

/* Optional: style the mobile toggle label */
.mobile-toggle {
    cursor: pointer;
    display: block;
}

/* Hide the mobile toggle on larger screens */
@media (min-width: 768px) {
    .mobile-toggle,
    .mobile-menu {
        display: none;
    }
}
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #383737;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c4fe01;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c4fe01;
}
